{% extends 'layouts/baseU.html' %}
{% block title %}
Crear
{% endblock %}
{% block content %}
<div>
    <form action="">
        <h1>Crear producto</h1>
        <div>
            <label for="">Descripcion:</label>
            <input type="text">
        </div>
        <div>
            <label for="">Precio:</label>
            <input type="text">
        </div>
        <div>
            <label for="">Categoria:</label>
            <select name="">
                <option value="">Value 1</option> 
                <option value="">Value 2</option>
                <option value="">Value 3</option>
              </select>
        </div>
        <button>Guardar</button>
    </form>
</div>
{% endblock %}