{% extends 'layouts/baseU.html' %}
{% block title %}
Editar
{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <form action="{{url_for('editar_producto',id=pro[0])}}"  class="col-4  bg-dark p-3 my-4 rounded-3" method="POST">
        <h1 class="text-white">Editar producto</h1>
        <div class="form-group">
            <label for="nombre" class="text-white">Nombre<samp class="text-danger">*</samp></label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{pro[1]}}">
        </div>
        <div class="form-group">
            <label for="precio" class="text-white">Precio<samp class="text-danger">*</samp></label>
            <input type="text" class="form-control" id="precio" name="precio" value="{{pro[4]}}">
        </div>
        <div class="form-group">
            <label for="categoria" class="text-white">Categoria<samp class="text-danger">*</samp></label>
            <select name="categoria" class="form-control" id="categoria">
                {% for categorias in cat %}
                {% if categorias[0]==pro[2] %}
                <option selected>{{categorias[0]}}</option>
                {% else %}
                <option>{{categorias[0]}}</option> 
                {% endif %}
                
                
                {% endfor %}
            </select>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary my-2 mx-1">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}